body {
  padding: 20px;
  margin: 0;
  font-family: Questrial;
  background-color: #111;
}

h2 {
  display: inline-block;
  margin: 0 10px;
  font-size: 0.9rem;
  line-height: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 360px;
}

ol {
  list-style-type: none;
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

input[type="checkbox"] {
  border: 2px solid #111;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

li.on {
  background-color: rgb(10, 130, 110);
  color: rgba(255, 255, 255, 0.35);
  border-radius: 2px;
}

input[type="checkbox"].on {
  background-color: rgb(10, 210, 120);
  border: 2px solid rgba(10, 10, 20, 0.63);
}

li.on textarea {
  background-color: rgb(20, 150, 130);
}

li {
  padding: 3px;
  margin: 3px;
  height: 100px;
  width: 400px;
  background-color: rgba(200, 200, 210, 0.8);
}

textarea {
  display: block;
  width: 96%;
  border: 0px;
  padding: 2%;
  resize: none;
  overflow: auto;
  height: 50px;
  font-size: 0.9rem;
  
}