body {
  padding: 10px;
  margin: 0;
  font-family: Questrial;
}

h2 {
  display: inline-block;
  margin: 2px;
  font-size: 1.1rem;
}

ol {
  list-style-position: inside;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px;
  margin: 5px;
  height: 100px;
  width: 200px;
}